<div class="greeting">
  <div class="row">
    <div class="small-5 small-centered columns">
      Echsissus exists to alleviate the contentious, obligatory, and often intrusive domain of the often referred to social web.
      Too frequent are our thoughts and ideas borrowed without our permission, or pictures and personal exploits peered uninvitedly upon by presuming eyes.  There are no cryptic agreement terms for this application to be paranoid of, there are no ads to exacerbate the fleeting freedom to enjoy content, and there are certainly no others to feel offended when their shared ideas go unfetchingly unliked or unshared.  You don't need all that.  Sometimes you just need a place for you.
    </div>
  </div>
</div>
