<div class="greeting">
  <div class="row">
    <div class="small-3 small-centered columns">
      <font size="10">
        <a href="/home/about" id="beyou">Be You</a>
      </font>
    </div>
  </div>
</div>

<div class="space">
</div>

<div class="row">
  <font size="5">
      <div class="small-1 small-push-4 columns">
        <%= link_to "in", new_user_session_path %>
      </div>
      <div class="small-1 small-pull-4 columns">
        <%= link_to "up", new_registration_path(@user) %>
      </div>
  </font>
</div>
