<div class="greeting">
  <div class="row">
    <div class="small-3 small-centered columns">
      <font size="10">
        Be You
      </font>
  </div>
  <div class="space">
  </div>
  <font size="5">
    <div class="row">
      <div class="small-3 small-centered columns">
        <div class="small-6 columns">
          <%= link_to "in", new_user_session_path %>
        </div>
        <div class="small-6 columns">
          <%= link_to "up", new_registration_path(@user) %>
        </div>
      </div>
    </div>
  </font>
</div>
