.greeting {
  margin-top: 10em;
}

#beyou {
  color: #839096;
}

.overall_head {
  margin-top: 1em;
}

.space {
  margin-top: 2em;
  margin-bottom: 2em;
}

body {
  color: #839096;
}



a {
  color: #CE5BF5;
}

a:hover {
  color: #A05DBA;
}

.custom-button-class {
  background-color: white;
  color: #ce5bf5;
  padding-left: 5em;
  padding-right: 5em;
  border-radius: 50px;
}

#postlist {
  color: #839096;
}

.title {
  color: #ce5bf5;
}
